* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 0.3px solid black;
  background: rgb(103 103 103);
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 25px;
}

.logo {
  width: 70px;
  margin-right: 10px;
}

.logo-name {
  font-weight: 600;
  font-size: 50px;
}

.header > ul {
  list-style-type: none;
  margin-right: 25px;
}

.header > ul > li {
  display: inline;
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}

.body-container {
  width: 95%;
  margin: 50px auto;
}

.search-container {
  margin-bottom: 50px;
  text-align: center;
}

.search-container > input {
  height: 50px;
  width: 250px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.individual-card {
  padding: 10px;
  border: 0.5px solid black;
  margin: 25px;
}

.image-container > img {
  width: 275px;
}

.individual-card > h1,
.individual-card > h2,
.individual-card > h3,
.individual-card > h4 {
  margin: 10px 0px;
}

.individual-card > h2,
.individual-card > h3,
.individual-card > h4 {
  font-weight: 400;
}