* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 0.3px solid black;
  background: rgb(103 103 103);
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 25px;
}

.logo {
  width: 70px;
  margin-right: 10px;
}

.logo-name {
  font-weight: 600;
  font-size: 50px;
}

.header > ul {
  list-style-type: none;
  margin-right: 25px;
}

.header > ul > li {
  display: inline;
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}

.header > ul > li:first-child {
  position: relative;
  top: 2px;
}

.header > ul > li > a,
.header > a,
.individual-card {
  color: white;
  text-decoration: none;
}

.header > ul > button {
  padding: 10px 20px;
  position: relative;
  top: -3px;
  cursor: pointer;
}
.body-container {
  width: 95%;
  margin: 50px auto;
}

.search-filter-container {
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.search-input, .filter-btn {
  height: 50px;
  width: 250px;
  text-align: center;
  border: 1px solid black;
}

.search-btn {
  height: 50px;
  border: 1px solid black;
  width: 100px;
  border-left: 0;
  cursor: pointer;
}

.filter-btn {
  cursor: pointer;
  margin-left: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.individual-card {
  padding: 10px;
  border: 0.5px solid black;
  margin: 25px;
  width: 20%;
  border-radius: 10px;
}

.image-container > img {
  width: 100%;
  height: 200px;
}

.individual-card-container > h1,
.individual-card-container > h2,
.individual-card-container > h3,
.individual-card-container > h4 {
  margin: 10px 0px;
}

.individual-card-container > h2,
.individual-card-container > h3,
.individual-card-container > h4 {
  font-weight: 400;
}

.individual-card:hover {
  cursor: pointer;
  background: rgba(142, 183, 237, 0.089);
  transform: scale(1.1);
  transition: transform 250ms;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shimmer-container > div {
  width: 270px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 25px;
}

.about-container, 
.cart-container, 
.location-container, 
.account-details-container, 
.error-container, 
.about-container,
.offline-container {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

.account-details-container h5 {
  font-size: 30px;
}

.about-container > h3 {
  font-size: 25px;
  margin-bottom: 25px;
}

.error-container > h1 {
  font-size: 40px;
}

.error-container > h2 {
  font-size: 30px;
}

.individual-card {
  color: #000;
}

.res-details-container {
  width: 75%;
  margin: 50px auto;
}

.restaurant-details {
  padding-bottom: 50px;
  border-bottom: 0.5px solid #000;
}

.restaurant-details > h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 35px;
}

.restaurant-details > p {
 font-size: 25px;
 text-align: center;
}

.res-menu-container {
  margin: 25px 0px;
}

.res-menu-container > ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.res-menu-container > ul > li {
  width: 250px;
  border: 1px solid #f0f0f0;
  margin: 10px;
  padding: 50px 25px;
  background: darkcyan
}

.res-menu-container > h4 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
}

.about-title {
  font-size: 35px;
}

.details-container {
  margin-top: 25px;
  font-size: 25px;
  border: 1px solid black;
  padding: 20px;
  text-align: left;
  font-size: 40px;
}

.details-container > a {
  text-decoration: none;
}

.offline-container h1 {
  font-size: 35px;
}